body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link, a:visited, a:hover {
    color: black;
}

a:active {
    font-weight: bold;
}

h1, h3 {
    text-align: center;
    font-weight: bold;
}

h1 {
    color: darkslateblue;
    border: solid;
    border-radius: 2%;
    background-color:lightgray;
}

cite {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-coloreado {
    background-color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

.tooltip {
    position: relative;
    display: inline-block;
}  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

ul.menu-superior {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  ul.menu-superior li {
    float: left;
  }
  ul.menu-superior li.derecha {
    float: right;
  }
  ul.menu-superior a {
    display: block;
    color: black;
    width: 150px;
    height: 20px;
    padding: 10px 14px;
    text-decoration: none;
  }
  ul.menu-superior li {
      position: relative;
      margin: 0;
      padding: 0;
  }
  ul.menu-superior li a:hover {
    background-color: black;
    color: white;
  }
    ul.menu-superior ul {
      list-style: none;
      display:none;
      background:#eee;
      position:absolute;
      top:100%;
      left:0;
      padding:0;
    }
    ul.menu-superior ul ul a {
      line-height: 120%;
      padding: 10px 15px;
    }
    ul.menu-superior ul li {
      float:none;
    }
    ul.menu-superior li:hover > ul {
      display: block;
    }

.coltitulo {
    font-weight: bold;
    color: darkslateblue;
}

.th-nivel-1 {
    font-weight: bold;
    color: darkslateblue;
    background-color: lightgrey;
}

.th-nivel-2 {
    font-weight: bold;
    font-size: large;
    color: cornflowerblue;
}

#fotoalejo {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    overflow:hidden;
}
  #fotoalejo:hover {
    filter: grayscale(90%);
    transition:all .5s ease-in-out;
    -webkit-transform:scale(1.25);transform:scale(.75);
  }

.logoscontacto {
    width: 20px;
}

footer {
    height: 2em;
    padding: 10px;
    border: solid;
    border-radius: 2%;
    background-color: lightgray;
    font-size: small;
}
